{% extends "layout.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">Продукти</h1>
<a href="{% url 'products:add_product' %}" 
    class="btn btn-success mb-3">Додати продукт</a>
    
<table class="table">
  <thead>
    <tr>
        <th scope="col">Фото</th>
        <th scope="col">Назва</th>
        <th scope="col">Категорія</th>
        <th class="text-center" scope="col">Slug</th>
        <th scope="col">Ціна</th>
        <th scope="col">Дія</th>
    </tr>
  </thead>
  <tbody>
    {% for product  in products %}
    <tr>
       <td>
          {% with main_image=product.images.all|dictsort:"priority"|first %}
              {% if main_image %}
                {% for pi in product.images.all %}
                  <img src="{{ pi.image.url }}" width="80" alt="{{ product.name }}" class="product-img">
                {% endfor %}
              {% else %}
                  <img src="{% static 'images/no-image.png' %}" width="80" alt="No image" class="product-img">
              {% endif %}
          {% endwith %}
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.category.name }}</td>
      <td class="text-center"><span class="badge bg-secondary">{{ product.slug }}</span></td>
      <td class="price">{{ product.price }} ₴</td>
      <td>
        
        <button type="button" 
                class="btn btn-sm btn-danger" 
                data-bs-toggle="modal" 
                data-bs-target="#deleteModal"
                data-id="{{ product.id }}"
                data-name="{{ product.name }}">
            Видалити
        </button>
      </td>
    <tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Підтвердження видалення</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
      </div>
      <div class="modal-body">
        Ви впевнені, що хочете видалити продукт <strong id="productName"></strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
        <form id="deleteForm" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Так, видалити</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const deleteModal = document.getElementById('deleteModal');
    const productNameSpan = document.getElementById('productName');
    const deleteForm = document.getElementById('deleteForm');

    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const productId = button.getAttribute('data-id');
        const productName = button.getAttribute('data-name');

        productNameSpan.textContent = productName;

        deleteForm.action = "{% url 'products:delete_product' 0 %}".replace("0", productId);
    });
});
</script>


{% endblock %}